// DEFAULT VARIABLES
$site-max-width:1200px !default;
$font-prefix:font !default;
$root-font-size:12 !default;
$sidebar-size:250px;


// PLACEHOLDERS
%fixer{width:100%; display:block; float:none; clear:both; height:0; font-size:0;}

