// ICON GENERATOR
@mixin generate-icons{
    
    .icon{background:url($icon-sprite-path) no-repeat;}
    
    @each $icon, $position in $icons{
        
        .icon-#{$icon}{background-position:$position;}
        
    }

}

// GET ICON
@mixin get-icon($sprite-path, $pos, $width, $height){
	
	width:$width;
	height:$height;
	
	@if $sprite-path == null{
		 $sprite-path:$icon-sprite-path;
	}
	
	 backgroud:url($sprite-path) no-repeat $pos;
	 
}

// BUTTON GENERATOR
@mixin generate-buttons{
    
    @each $button in $button-types{
        
        .btn#{$button}{
            
            @extend %btn#{$button};
            
            span{
               
                @extend %btn#{$button}Span;
              
            }
            
        }
        
    }
    
}

// LIST ITEM
@mixin list-item($numPerRow, $margin-right){
        
        width:(100% - (($numPerRow - 1) * $margin-right)) / $numPerRow; margin-right:$margin-right;
        &:first-child(#{$numPerRow}n){margin-right:0;}
    
}