// CUSTOM PLACEHOLDERS
%error{font:font(12, 1); color:#ff0000;}

.floatFixer{@extend %fixer;}

.left{float:left;}
.right{float:right;}
.none{display:none;}
.fixed {position:fixed;}

// DEFAULT CSS
@include generate-icons{}
@include generate-buttons{}
@include with-sidebar{}
.#{$c-list-item}{@include list-items;}


// TEST
.hata{@extend %error;}
.title{font:font(24, 3, bold); }
.btnUyeGiris{@include get-icon(null, 53px -180px, 25px, 50px);}

.osman{@extend .box;}
.ozgur{@extend .box;}
